@tailwind base;

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  @apply text-white;
  font-size: 14px;
}

body {
  @apply font-open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-raleway;
  @apply font-bold;
}

a {
  @apply font-raleway;
}

@tailwind components;

/* 
  Custom components should be added directly after the `@tailwind component` directive to avoid specificity issues.
*/

.header {
  @apply bg-header;

  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

.header .header__top {
  @apply flex justify-between items-center py-12 px-10;
}

.header .header__top a img {
  @apply w-20;
}

.header .header__top .hamburger {
  @apply fixed z-30;

  right: 2.5rem;
}

.header .header__top .hamburger i {
  @apply text-3xl;
}

.header .header__top .navigation {
  @apply hidden inset-0 bg-main;
}

.header .header__top .navigation.show {
  @apply fixed block z-20;
}

.header .header__top .navigation ul {
  @apply flex flex-col items-center justify-center h-full;
}

.header .header__top .navigation ul li {
  @apply my-4;
}

.header .header__top .navigation ul li:last-child {
  @apply mb-0;
}

.header .header__hero {
  @apply mx-auto text-center px-6;

  max-width: 600px;
}

.header .header__hero h1 {
  @apply text-4xl mt-8 mb-6;
}

.header .header__hero button {
  @apply font-raleway px-16 py-3 rounded-full mt-5;

  background-image: linear-gradient(
    to right bottom,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
}

section {
  @apply max-w-wrapper mx-auto px-6 pt-32;
}

.features {
  @apply grid grid-cols-1 row-gap-24;
}

.features__item {
  @apply flex flex-col justify-between text-center;
}

.features__item img {
  @apply mx-auto mb-12;
}

.features__item h3 {
  @apply text-xl mb-3;
}

.info {
  @apply flex flex-col justify-between items-center px-16;
}

.info .info__content {
  @apply pt-16;
}

.info .info__content h1 {
  @apply text-4xl;
}

.info .info__content p {
  @apply mt-4;
}

.info .info__content .cta {
  @apply inline-flex items-center border-white border-b border-solid mt-3;
}

.info .info__content .cta a {
  @apply text-cyan mr-1;
}

.testimonials {
  @apply grid gap-6 relative pb-64;

  grid-template-columns: repeat(auto-fit, 1fr);
}

.testimonials .testimonails__quotes {
  @apply absolute;

  top: 5.5rem;
  left: 2rem;
}

.testimonials .testimonails__item {
  @apply flex flex-col justify-between bg-testimonial rounded-md z-10 pt-10 pb-8 px-8 text-sm;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.testimonials .testimonails__item .author {
  @apply flex items-center mt-6;
}

.testimonials .testimonails__item .author img {
  @apply rounded-full mr-2;

  max-width: 25px;
}

.contact {
  @apply mx-auto rounded-md bg-header py-10 px-8;

  max-width: 90%;
  transform: translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.contact .contact__text {
  @apply text-center;
}

.contact .contact__text h2 {
  @apply text-xl mb-2;
}

.contact .contact__text p {
  @apply text-sm;
}

.contact .contact__action {
  @apply flex flex-col mt-6;
}

.contact .contact__action input {
  @apply rounded-full px-6 py-4;
}

.contact .contact__action input::placeholder {
  @apply text-xs;
}

.contact .contact__action button {
  @apply font-raleway px-16 py-4 rounded-full mt-8 text-sm font-bold;

  background-image: linear-gradient(
    to right bottom,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
}

.footer-content {
  @apply flex;
}

.footer-content .footer-content__contact {
  @apply flex items-center;
}

.footer-content .footer-content__contact img {
  @apply mr-6;
}

@screen sm {
  .features {
    @apply grid-cols-2 col-gap-20;
  }

  .testimonials {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .contact {
    @apply px-16;
  }

  .contact .contact__action {
    @apply flex-row items-center;
  }

  .contact .contact__action input {
    @apply flex-1 mr-6 py-3;
  }

  .contact .contact__action button {
    @apply mt-0 py-3 px-6;
  }
}

@screen md {
  .header .header__top {
    @apply p-16;
  }

  .header .header__top a img {
    @apply w-full;
  }

  .header .header__top .hamburger {
    @apply hidden;
  }

  .header .header__top .navigation {
    @apply block bg-transparent;
  }

  .header .header__top .navigation ul {
    @apply flex-row;
  }

  .header .header__top .navigation ul li {
    @apply mr-16 my-0;
  }

  .header .header__top .navigation ul li:last-child {
    @apply mr-0;
  }

  .testimonials .testimonails__quotes {
    top: 5.5rem;
    left: 1rem;
  }

  .contact {
    max-width: 700px;
  }

  .contact .contact__text h2 {
    @apply text-3xl;
  }
}

@screen lg {
  .info {
    @apply flex-row px-0;
  }

  .info .info__content {
    @apply pl-10 pt-0;
  }

  .testimonials {
    @apply row-gap-0;
  }
}

@tailwind utilities;
